.movie {
  position: relative;
  width: 200px;
  margin: 10px;
  text-align: center;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie h3 {
  margin: 10px 0 5px;
}

.movie p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}